.calendar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;
}

@media (min-width: 1024px) {
    .calendar {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1400px) {
    .calendar {
        grid-template-columns: repeat(4, 1fr);
    }
}